@import "tailwindcss";

:root {
  color : black;
  --primary: #2563eb; /* Blue-600 */
  --secondary: #1e3a8a; /* Blue-900 */
  --radius: 12px;
  --transition: all 0.25s ease-in-out;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {

}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
  transition: var(--transition);
}


.glass {
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(16px);
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border: 1px solid rgba(255, 255, 255, 0.2);
}


.form-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

input, button {
  border-radius: 0.5rem;
  font-family: "Inter", sans-serif;
}

button:hover {
  transform: scale(1.03);
}
input:focus {
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.5); /* Focus ring */
  outline: none;
}